#About
{ 
    width: 1200px;
    margin:0px auto;
    height:950px;
    margin-top: 30px;
     
}
#about_info
{
    margin-left: 20px;
    float:left;
    width:510px;
    height:360px;
   
    margin-top: 33px;
}
#about_info h2
{
    font-family: "Times New Roman";
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #b50303;
    display: inline;
    margin-left: 200px;
}
#about_info p
{
    margin-top: 15px;
    font-family: "Times New Roman";
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}
#about_info h3
{
    font-family: "Times New Roman";
    font-size: 20px;
	font-style: italic;
	font-weight: bold;
    color: black;
}
#about_info h3 a
{
    text-decoration: none;
    color: black;
}
#about_info h3 a:hover
{
    color: #b50303;
}


#cakeimg
{
    margin-top: 33px;
    margin-left: 50px;
    float:left;
    width: 550px;
    height:350px;
     
}
.pic
{
    width:500px ;
    height:355px;
}
#container 
{
  position:relative;
  height:360px;
  width:510px;
}
#container img 
{
  position:absolute;
  left:0;
}
@keyframes imgFade 
{
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
#container img 
{
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;
    
  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

#container img:nth-of-type(1)
{
  -webkit-animation-delay:15s;
  animation-delay: 15s;
}
#container img:nth-of-type(2)
{
  -webkit-animation-delay: 12;
  animation-delay:12s;
}
#container img:nth-of-type(3) 
{
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
#container img:nth-of-type(4) 
{
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
#container img:nth-of-type(5) 
{
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
#container img:nth-of-type(6) 
{
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}






@media only screen and (min-width:650px) and (max-width:1300px)
{
    #About
   {
    width: 550px;
    height:1200px;
    margin-top: 33px;
   }
    #about_info
   {
    margin-left: 0px;
    width:500px;
    height:250px;
  
   }
  #about_info p
  {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
    #cakeimg
  {
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:261px;
  }
  .pic
  {
    width:500px ;
    height:250px;
  }    
    #container 
  {
    width:250px;
    height:250px;
  }
}


@media only screen and (min-width:420px) and (max-width:650px)
{
    #About
   { 
    width: 440px;
    height:1400px;
    margin-top: 15px;
   }
    #about_info
   {
    margin-left: 0px;
    width:400px;
    height:1100px;
    margin-top: 0px;
   }
   #about_info h2
  {
    margin-left: 150px;
 }
   #about_info p
  {
    margin-top: 38px;
    margin-bottom: 38px;
    line-height: 150%;
    
  }
  
   #cakeimg
  {
    margin-top: 0px;
    margin-left: 0px;
    width: 390px;
    height:295px;
  }
  .pic
  {
    width:400px ;
    height:230px;
  }    
    #container 
  {
    width:400px;
    height:230px;
  }
    
}



@media only screen and (max-width:420px)
{
    #About
   { 
    width: 320px;
    height:1650px;
    margin-top: 15px;
   }
    #about_info
   {
    margin-left: 0px;
    width:300px;
    height:1350px;
    margin-top: 0px;
   }
   #about_info h2
  {
    margin-top: 5px;
    margin-left: 100px;
 }
   #about_info p
  {
    margin-top: 38px;
    margin-bottom: 38px;
    line-height: 150%;
    
  }
  
   #cakeimg
  {
    margin-top: 0px;
    margin-left: 0px;
    width: 300px;
    height:295px;
  }
  .pic
  {
    width:300px ;
    height:230px;
  }    
    #container 
  {
    width:300px;
    height:230px;
  }
    
}
