/*login*/
.form-gorup1 
{
  width: 500px;
  clear: both;
}
.form-gorup1 input 
{
  width: 450px;
  height: 50px;
  margin-bottom: 0px;
  border: 1px solid black;
  background-color: antiquewhite;
  
}
#contentlogin
{ 
   
    width: 1280px;
    height:350px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    
}
article
{
    float:left;
    width:490px;
    margin-left: 78px;
    height:350px;
    position: relative;
}
article h2
{
    font-family: "Times New Roman";
    font-size: 30px;
	font-style: italic;
	font-weight: bold;
    text-transform: uppercase;
    display: inline;
    color: black;
    letter-spacing: 3px;
}
article h3
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Times New Roman";
    font-size: 16px;
	font-style: normal;
	font-weight: normal;
    color: black;
    letter-spacing: 1px;
}
label
{
    font-family: "Times New Roman";
    font-size: 24px;
	font-style: normal;
	font-weight: normal;
    color: black;
    letter-spacing: 1px;
}
span
{
    color:#b50303 ;
}
input[name=email] 
{
    padding-left: 10px;
    position: relative;
   
    width: 290px;
    height: 40px;
    font-size: 18px;
    border-width: 3px;
    border-color: #f95f5f;
    margin-bottom: 10px;
    background-color: antiquewhite;
    color:#b50303;
}
input[name=email ]::-webkit-input-placeholder 
{
    padding-left: 80px;
    font-size: 10px;
    font-style: italic;
    color:  burlywood;
}
input[type=password] 
{
    padding-left: 10px;
    position: relative;
  
    width: 290px;
    height: 40px;
    font-size: 18px;
    border-width: 3px;
    border-color: #f95f5f;
    margin-bottom: 20px;
    background-color: antiquewhite;
    color:#b50303;
}
input[type="password" ]::-webkit-input-placeholder 
{
    padding-left: 80px;
    font-size: 10px;
    font-style: italic;
    color: burlywood;
}
#signinbutton
{
     background-color: #F5DEB3;
     width: 130px;
     height: 50px;
     border: none;
    
    font-family: "Times New Roman";
    font-size: 18px;
   font-style: normal;
   font-weight: normal;
    color: black;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
}
#signinbutton:hover
{
    opacity:0.5;
    -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
}
.verline
{
    opacity: 0.2;
    width:2px;
    height: 340px;
    background-color:black;
    position:absolute;
    top:0;
    bottom:0;
    left:550px;
}
#info
{
    float: left;
    width:451px;
    margin-left: 140px;
    height:350px;
}

#info h2
{
    display: inline;
    font-size: 30px;
	font-style: normal;
	font-weight: bold;
    letter-spacing: 2px;
}
#info h3
{
    font-family: "Times New Roman";
    font-size: 16px;
	font-style: normal;
	font-weight: normal;
    color: black;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding-top: 20px;
}

.tick p
{
    margin-left: 64px;
    font-size: 24px;
    font-family: "Times New Roman";
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 30px;
}
.tick
{
    background-repeat: no-repeat;
    background-image:url(../images/tick.png);
}
#registerbutton
{
    background-color: #F5DEB3;
    width: 130px;
    height: 50px;
    border: none;
    margin-left: 65px;
    margin-top: 28px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
}
#registerbutton:hover
{
    opacity: 0.5;
    -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
    
}
#registerbutton h4
{
    padding-top: 15px;
    padding-left: 17px;
    font-family: "Times New Roman";
    font-size: 18px;
	font-style: normal;
	font-weight: normal;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
}
#info a:link{
    text-decoration: none;
}






@media only screen and (min-width:810px) and (max-width:1200px)
{
    #contentlogin
   { 
    width: 780px;
    height:600px;
    margin-top: 5px;
    position: relative;
    margin-bottom: 20px;
   }
    article
   { 
    float:left;
    width:350px;
    margin-left: 0px;
    height:284px;
    position: relative;
   }
    article h2
   {
    font-size: 24px;
    letter-spacing: 3px;
   }
    article h3
   {
    padding-top: 0px;
    padding-bottom: 0px;
   }
    label
   {
    font-size: 20px;
   }
    input[name=email] 
   {
    padding-left: 10px;
    position: relative;
    margin-left: 2px;
    width: 200px;
    height: 35px;
       background-color: antiquewhite;
   }
    input[name=email ]::-webkit-input-placeholder 
   {
    padding-left: 40px;
   }
    input[type=password] 
   {
    padding-left: 10px;
    position: relative;
    margin-left: 1px;
    width: 200px;
    height: 35px;
    margin-bottom: 34px;
   }
   input[type="password" ]::-webkit-input-placeholder 
   {
    padding-left: 40px;
   }
    #signinbutton
   {
     margin-left:0px;
   }
    .verline
   {
    display: none;
    left:0px;
    
   }
    #info
   {
    float: left;
    width:342px;
    height:280px;
    margin-left: 80px;
   }
    #info h2
   {
    font-size: 24px;
   }
    #info h3
   {
    padding-top: 0px;
   }
    .tick p
   {
    height: 30px;
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 6px;
    margin-top: -2px;
   }
    #registerbutton
   {
    margin-left: 50px;
    margin-top: 31px;
   }
   
}



@media only screen and (max-width:810px)
{
    #contentlogin
   { 
    width: 360px;;
    height:660px;
    margin-top: 5px;
    position: relative;
     margin-bottom: 10px;
   }
   .form-gorup1 
  {
  width: 300px;
  clear: both;
  }
    article
   { 
    clear: left;
    width:318px;
    margin-left: 10px;
    height:350px;
    position: relative;
   }
    article h2
   {
    font-size: 24px;
    letter-spacing: 3px;
   }
     article h3
   {
    padding-top: 0px;
    padding-bottom: 0px;
   }
    label
   {
    font-size: 20px;
   }
    input[name=email] 
   {
    padding-left: 10px;
    position: relative;
    margin-left: 2px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: antiquewhite;
   }
    input[name=email]::-webkit-input-placeholder 
   {
    padding-left: 40px;
   }
    input[type=password] 
   {
    padding-left: 10px;
    position: relative;
    margin-left: 1px;
    width: 200px;
    height: 40px;
    margin-bottom: 35px;
   }
   input[type="password" ]::-webkit-input-placeholder 
   {
    padding-left: 40px;
   }
   #signinbutton
   {
     margin-left:0px;
   }
    .verline
   {
    display: none;
    
  }
    #info
   {
    margin-left: 10px;
    float: none;
    width:342px;
    margin-top: 50px;
    height:150px;
   
   }
    #info h2
   {
    font-size: 24px;
   }
    #info h3
   {
    padding-top: 0px;
   }
    .tick p
   {
    height: 30px;
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 10px;
    margin-top: 20px;
   }
     #registerbutton
   {
    margin-left: 0px;
    margin-top: 25px;
   }
}