/*Navbar CSS for use in JS Opacity Change*/
.navbar{
    background:transparent;
}
/*Jumbotron Controls*/
.jumbotron
{
    background-image: url("../images/sliced.png");
    background-size: cover;
}

.jumbotron .container
{
    color: white;
    font-size: 5vw;
    background: rgba(0,0,0,0.5);
    align-content: center;
}

/*Resizing Images*/
.RESIZER{
    height: 50%;
    width: auto;
}

footer
{
    border-top:     solid;
    font-style:     italic;
    font-size:      smaller;
    text-align:     center;
}

body nav div
{
    text-align:     right;
}