/*Navbar CSS for use in JS Opacity Change*/
.navbar{
    background:transparent;
    z-index: 1 ;
}
/*Jumbotron Controls*/
.jumbotron
{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.15),rgba(255,255,255,0.7)),url("../images/sliced3.png");
    background-size: cover;
}
footer
{
    border-top:     solid;
    font-style:     italic;
    font-size:      smaller;
    text-align:     center;
}


#f,#i
{
    width: 30px;
}


#f:hover
{
    
    opacity:0.5;
}
#i:hover
{
    opacity:0.5;
}


@media screen and (min-width: 601px) {
    .jumbotron .container
    {
        background: RGBA(255, 255, 255, 0.2);
    }
}

@media screen and (max-width: 600px) {
    .jumbotron .container, #cartName
    {
        background: RGBA(255, 255, 255, 0.2);
        font-size:15px;
    }
}

/*Resizing Images*/
.RESIZER{
    height: 50%;
    width: auto;
}


body nav div
{
    text-align:     right;
}


/*Dropdown nav*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #003366;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: whitesmoke;
        padding: 10px 25px;
        text-decoration: none;
        display: block;
        font-size: 10px;
        text-align: center;
    }

    .dropdown-content a:hover {color: #FAFF00;}

    .dropdown:hover .dropdown-content {display: block;}

    
 /*OrderHistory Table*/
#orderhistory {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#orderhistory td {
  border: 1px solid #ddd;
  padding: 8px;
}

#orderhistory th{
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;  
}

#orderhistory tr:nth-child(even){background-color: #f2f2f2;}

#orderhistory tr:hover {background-color: #ddd;}

#orderhistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #E4A485;
  color: white;
}