/*Register style*/
.form-gorup {
  width: 500px;
  float: left;
}
#form1{
    margin-bottom: 60px;
}
.form-gorup input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: antiquewhite;
  padding-left: 5px;
}


.form-check{
 clear: both;
}

.form-check input
{
  width:20px;
  clear: both;
}


#registerbtn
{
    background-color: antiquewhite;
    color: black; 
}
#registerbtn:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width:810px)
{
  .form-gorup input 
  {
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  }
  .form-gorup {
  width: 350px;
  float: left;
}
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2020, 8:41:22 PM
    Author     : Ming
*/

